#Hero4 {
  margin-top: 135px;

  .container {
    .hero4 {
      display: flex;
      justify-content: center;

      &--block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;

        &__circle {
          position: absolute;
          left: 467px;
          top: -58px;
          width: 615px;
          height: 615px;
          flex-shrink: 0;
          border-radius: 615px;
          opacity: 0.5;
          background: radial-gradient(
                          50% 50% at 50% 50%,
                          #ec8425 0%,
                          rgba(236, 132, 37, 0) 100%
          );
          filter: blur(175px);
        }

        &__quests {
          position: relative;
          width: 598px;
          height: 264px;
          flex-shrink: 0;
          border: 1px solid #d9d9d9;
          margin: 0;
          text-align: start;

          div {
            display: flex;
            align-items: center;
            justify-content: start;

            h1 {
              font-family: Alumni Sans, sans-serif;
              font-size: 130px;
              font-weight: 700;
              line-height: normal;
              letter-spacing: -6px;
              text-transform: uppercase;
              margin-left: 62px;
              color: transparent;
              -webkit-text-stroke: 1px #ffffff;
              z-index: 2;
            }

            img {
              position: absolute;
              top: 10px;
              right: 214px;

            }
          }

          p {
            color: #fff;
            font-family: Archivo;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30.86px;
            text-transform: uppercase;
            width: 473px;
          }
        }

        &__rewards {
          position: relative;
          width: 705px;
          height: 264px;
          border: 1px solid #d9d9d9;
          margin: 0;
        div{
          display: flex;
          h1 {
            font-family: Alumni Sans, sans-serif;
            font-size: 130px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -6px;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 1px #ffffff;
            margin-left: 70px;
            z-index: 2;
          }

          img {
            position: absolute;
            right: 206px;
            top: 10px;

          }
        }

          p {
            width: 473px;
            color: #fff;
            font-family: Archivo, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30.86px;
            text-transform: uppercase;
            margin: 0 0 0 47px;
          }
        }

        &__ama {
          position: relative;
          width: 499px;
          height: 264px;
          border: 1px solid #d9d9d9;
          margin: 0;

     div{
       display: flex;
       h1 {
         margin-left: 45px;
         font-family: Alumni Sans, sans-serif;
         font-size: 130px;
         font-weight: 700;
         line-height: normal;
         letter-spacing: -6px;
         text-transform: uppercase;
         color: transparent;
         -webkit-text-stroke: 1px #ffffff;
         z-index: 2;
       }

      img {
        position: absolute;
        width: 103px;
        height: 103px;
        top: 10px;
        right: 44%;
       }
     }

          p {

            margin-left: 45px;
            width: 396px;
            color: #fff;
            font-family: Archivo;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30.86px;
            text-transform: uppercase;
          }
        }

        &__tournaments {
          position: relative;
          width: 805px;
          height: 264px;
          border: 1px solid #d9d9d9;
          margin: 0;

      div{
        display: flex;
        h1 {
          font-family: Alumni Sans, sans-serif;
          font-size: 130px;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -6px;
          text-transform: uppercase;
          color: transparent;
          -webkit-text-stroke: 1px #ffffff;
          margin-left: 45px;
          z-index: 2;
        }

        img {
          position: absolute;
          top: 27px;
          right: 24%;
        }
      }

          p {
            margin-left: 45px;
            width: 571px;
            color: #fff;
            font-family: Archivo;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30.86px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
